<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802498209800-j9neq9lfs45agskd1j51rkgp8pg771eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802498209800-j9neq9lfs45agskd1j51rkgp8pg771eb</string>
	<key>API_KEY</key>
	<string>AIzaSyAcVIJJf1iq8a0jMmGEeaKGvsb6UVobr4c</string>
	<key>GCM_SENDER_ID</key>
	<string>802498209800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.komipaWeb</string>
	<key>PROJECT_ID</key>
	<string>project-uiux</string>
	<key>STORAGE_BUCKET</key>
	<string>project-uiux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802498209800:ios:74816b680cabe8722309bd</string>
</dict>
</plist>